<div class="style">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success"> New Recipe </button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes"> {{recipe}}
            <div class="pull-left">

               <h4 class="list-group-item-heading">{{recipeName}}</h4>
              <p class="list-group-item-text"> {{recipeDescription}}</p>
            </div>
            <span class="pull-right">
              <img [src]="img" alt="{{recipeName}}" class="img-responsive" *ngFor="let img of imgPath" style="max-height: 50px; ">
            </span>
        </a>


        </div>
    </div>
</div>